<!-- Modal de edição para cada associado -->
<div id="editMemberModal{{ associado.cpf.cpf }}" class="modal fade" tabindex="-1"
     role="dialog"
     aria-labelledby="editMemberModalLabel{{ associado.cpf.cpf }}"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"
                    id="editMemberModalLabel{{ associado.cpf.cpf }}">Editar
                    Associado</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="error-container-edit"></div>

                <!-- Formulário para editar associado -->
                <form action="{{ url_for('main.editar_associado', cpf_associado=associado.cpf.cpf) }}"
                      method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ associado.cpf.cpf }}">
                    <div class="form-group">
                        <label for="edit-cpf-{{ associado.cpf.cpf }}">CPF:</label>
                        <input id="edit-cpf-{{ associado.cpf.cpf }}" type="text"
                               class="form-control cpf-mask" name="cpf"
                               value="{{ associado.cpf.cpf }}" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit-nome-{{ associado.cpf.cpf }}">Nome:</label>
                        <input id="edit-nome-{{ associado.cpf.cpf }}" type="text"
                               class="form-control" name="nome"
                               value="{{ associado.nome }}" required>
                    </div>
                    <div class="form-group">
                        <label for="edit-data_nascimento-{{ associado.cpf.cpf }}">Data
                            de Nascimento:</label>
                        <input id="edit-data_nascimento-{{ associado.cpf.cpf }}"
                               type="date" class="form-control" name="data_nascimento"
                               value="{{ associado.data_nascimento }}" required>
                    </div>

                    <div class="form-group">
                        <label for="edit-tipo-{{ associado.cpf.cpf }}">Tipo:</label>
                        <select id="edit-tipo-{{ associado.cpf.cpf }}" class="form-control" name="tipo" required>
                            <option value="titular" {% if associado.tipo == 'titular' %}selected{% endif %}>Titular
                            </option>
                            <option value="dependente" {% if associado.tipo == 'dependente' %}selected{% endif %}>
                                Dependente
                            </option>
                        </select>
                    </div>

                    <div class="form-group d-none" id="edit-associado_titular_group-{{ associado.cpf.cpf }}">
                        <label for="edit-associado_titular-{{ associado.cpf.cpf }}">Nome do Titular da
                            Sociedade:</label>
                        <select id="edit-associado_titular-{{ associado.cpf.cpf }}" class="form-control"
                                name="associado_titular">
                            <option value="" disabled selected>Selecione um Nome</option>
                            {% for associado in associados %}
                                {% if associado.tipo.value == 'TITULAR' %}
                                    <option value="{{ associado.cpf.cpf }}"
                                            data-tipo="{{ associado.plano.value }}">{{ associado.nome }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="edit-plano-{{ associado.cpf.cpf }}">Plano:</label>
                        <select id="edit-plano-{{ associado.cpf.cpf }}" class="form-control" name="plano" required>
                            <option value="ouro" {% if associado.plano == 'ouro' %}selected{% endif %}>Ouro</option>
                            <option value="prata" {% if associado.plano == 'prata' %}selected{% endif %}>Prata</option>
                            <option value="bronze" {% if associado.plano == 'bronze' %}selected{% endif %}>Bronze
                            </option>
                        </select>
                    </div>

                    <input type="hidden" id="edit-plano_hidden-{{ associado.cpf.cpf }}" name="plano">

                    <div class="form-group">
                        <label for="edit-endereco-{{ associado.cpf.cpf }}">Endereço:</label>
                        <input id="edit-endereco-{{ associado.cpf.cpf }}"
                               type="text"
                               class="form-control" name="endereco"
                               value="{{ associado.endereco }}" required>
                    </div>

                    <div class="form-group">
                        <label for="edit-telefone-{{ associado.cpf.cpf }}">Telefone 1:</label>
                        <input id="edit-telefone-{{ associado.cpf.cpf }}"
                               type="text" class="form-control telefone-mask" name="telefone"
                               value="{{ associado.telefones[0].telefone if associado.telefones else '' }}" required>
                    </div>

                    <div class="form-group">
                        <label for="edit-telefone-{{ associado.cpf.cpf }}">Telefone2 :</label>
                        <input id="edit-telefone-{{ associado.cpf.cpf }}"
                               type="text" class="form-control telefone-mask" name="telefone"
                               value="{{ associado.telefones[1].telefone if associado.telefones and associado.telefones | length > 1 else '' }}">
                    </div>

                    <div class="form-group">
                        <label for="edit-email-{{ associado.cpf.cpf }}">Email:</label>
                        <input id="edit-email-{{ associado.cpf.cpf }}" type="email"
                               class="form-control" name="email"
                               value="{{ associado.email }}" required>
                    </div>

                    <div class="form-group">
                        <label for="foto">Deseja mudar de foto?</label>
                        <input id="foto" type="file" class="form-control" name="foto">
                    </div>

                    <input id="data_adesao" type="hidden" class="form-control" name="data_adesao"
                           value="{{ associado.data_adesao }}" required>

                    <input id="foto_atual" type="hidden" class="form-control" name="foto_atual"
                           value="{{ associado.foto }}">

                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>