<!-- Modal para Adicionar Associado -->
<div id="addMemberModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addMemberModalLabel">Adicionar Associado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="error-container-add"></div>

                <!-- Formulário para adicionar associado -->
                <form id="add-member-form" action="{{ url_for('main.inserir_associado') }}" method="POST"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input id="cpf" type="text" class="form-control cpf-mask" name="cpf" required>
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input id="nome" type="text" class="form-control" name="nome" required>
                    </div>

                    <div class="form-group">
                        <label for="data_nascimento">Data de Nascimento:</label>
                        <input id="data_nascimento" type="date" class="form-control" name="data_nascimento" required>
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo:</label>
                        <select id="tipo" class="form-control" name="tipo" required>
                            <option value="titular">Titular</option>
                            <option value="dependente">Dependente</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="plano">Plano:</label>
                        <select id="plano" class="form-control" name="plano" required>
                            <option value="ouro">Ouro</option>
                            <option value="prata">Prata</option>
                            <option value="bronze">Bronze</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="endereco">Endereço:</label>
                        <input id="endereco" type="text" class="form-control" name="endereco" required>
                    </div>

                    <div class="form-group">
                        <label for="telefone1">Telefone 1:</label>
                        <input id="telefone1" type="text" class="form-control telefone-mask" name="telefone1" required>
                    </div>

                    <div class="form-group">
                        <label for="telefone2">Telefone 2:</label>
                        <input id="telefone2" type="text" class="form-control telefone-mask" name="telefone2">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input id="email" type="email" class="form-control" name="email" required>
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input id="foto" type="file" class="form-control" name="foto">
                    </div>

                    <input id="data_adesao" type="hidden" class="form-control" name="data_adesao" value="{{ today }}"
                           required>

                    <div class="form-group text-right">
                        <button type="reset" class="btn btn-danger" id="btn-clear">Limpar</button>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
