{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif category == 'danger' %}
                    <div id="modal-error" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<!-- Card com os Dados dos Associados -->
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                    Associados
                </button>
            </h5>
        </div>

        <!-- Verificação para manter o accordion aberto -->
        <div id="collapseOne" class="accordion-collapse collapse {% if messages %}show{% endif %}"
             aria-labelledby="headingOne">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            Lista de Associados
                            <button type="button" class="btn btn-success float-right" data-toggle="modal"
                                    data-target="#addMemberModal">Adicionar Associado
                            </button>
                        </h2>
                        <table class="table table-striped">
                            <tr>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Plano</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>

                            {% for associado in associados %}
                                <tr>
                                    <td>{{ associado.cpf }}</td>
                                    <td>{{ associado.nome }}</td>
                                    <td>{{ associado.email }}</td>
                                    <td>{{ associado.telefone }}</td>
                                    <td>{{ associado.plano }}</td>
                                    <td>{{ associado.status }}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                                data-target="#editMemberModal{{ associado.id_associado }}"
                                                data-id="{{ associado.id_associado }}"
                                                data-cpf="{{ associado.cpf }}"
                                                data-nome="{{ associado.nome }}"
                                                data-data_nascimento="{{ associado.data_nascimento }}"
                                                data-tipo="{{ associado.tipo }}"
                                                data-endereco="{{ associado.endereco }}"
                                                data-telefone="{{ associado.telefone }}"
                                                data-email="{{ associado.email }}"
                                                data-foto="{{ associado.foto }}"
                                                data-plano="{{ associado.plano }}"
                                                data-status="{{ associado.status }}">
                                            Editar
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger btn-sm"
                                                onclick="return confirm('Você tem certeza que deseja deletar?')">Deletar
                                        </button>
                                    </td>
                                </tr>

                                <!-- Modal de edição para cada associado -->
                                <div id="editMemberModal{{ associado.id_associado }}" class="modal fade" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="editMemberModalLabel{{ associado.id_associado }}"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title"
                                                    id="editMemberModalLabel{{ associado.id_associado }}">Editar
                                                    Associado</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Formulário para editar associado -->
                                                <form action="{{ url_for('editar_associado', id_associado=associado.id_associado) }}"
                                                      method="POST" enctype="multipart/form-data">
                                                    <input type="hidden" name="id" value="{{ associado.id_associado }}">
                                                    <div class="form-group">
                                                        <label for="edit-cpf-{{ associado.id_associado }}">CPF:</label>
                                                        <input id="edit-cpf-{{ associado.id_associado }}" type="text"
                                                               class="form-control" name="cpf"
                                                               value="{{ associado.cpf }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-nome-{{ associado.id_associado }}">Nome:</label>
                                                        <input id="edit-nome-{{ associado.id_associado }}" type="text"
                                                               class="form-control" name="nome"
                                                               value="{{ associado.nome }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-email-{{ associado.id_associado }}">Email:</label>
                                                        <input id="edit-email-{{ associado.id_associado }}" type="email"
                                                               class="form-control" name="email"
                                                               value="{{ associado.email }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-telefone-{{ associado.id_associado }}">Telefone:</label>
                                                        <input id="edit-telefone-{{ associado.id_associado }}"
                                                               type="text" class="form-control" name="telefone"
                                                               value="{{ associado.telefone }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-plano-{{ associado.id_associado }}">Plano:</label>
                                                        <select id="edit-plano-{{ associado.id_associado }}"
                                                                class="form-control" name="plano" required>
                                                            <option value="ouro"
                                                                    {% if associado.plano == 'ouro' %}selected{% endif %}>
                                                                Ouro
                                                            </option>
                                                            <option value="prata"
                                                                    {% if associado.plano == 'prata' %}selected{% endif %}>
                                                                Prata
                                                            </option>
                                                            <option value="bronze"
                                                                    {% if associado.plano == 'bronze' %}selected{% endif %}>
                                                                Bronze
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="edit-status-{{ associado.id_associado }}">Status:</label>
                                                        <input id="edit-status-{{ associado.id_associado }}" type="text"
                                                               class="form-control" name="status"
                                                               value="{{ associado.status }}" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Fechar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Adicionar Associado -->
<div id="addMemberModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addMemberModalLabel">Adicionar Associado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="error-container"></div>

                <!-- Formulário para adicionar associado -->
                <form action="{{ url_for('inserir_associado') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input id="cpf" type="text" class="form-control" name="cpf"
                               value="{{ form_data.get('cpf', '') }}" required>
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input id="nome" type="text" class="form-control" name="nome"
                               value="{{ form_data.get('nome', '') }}" required>
                    </div>

                    <div class="form-group">
                        <label for="data_nascimento">Data de Nascimento:</label>
                        <input id="data_nascimento" type="date" class="form-control" name="data_nascimento"
                               value="{{ form_data.get('data_nascimento', '') }}" required>
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo:</label>
                        <select id="tipo" class="form-control" name="tipo" required>
                            <option value="titular" {% if form_data.get('tipo') == 'titular' %}selected{% endif %}>
                                Titular
                            </option>
                            <option value="dependente"
                                    {% if form_data.get('tipo') == 'dependente' %}selected{% endif %}>Dependente
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="endereco">Endereço:</label>
                        <input id="endereco" type="text" class="form-control" name="endereco"
                               value="{{ form_data.get('endereco', '') }}" required>
                    </div>

                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input id="telefone" type="text" class="form-control" name="telefone"
                               value="{{ form_data.get('telefone', '') }}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input id="email" type="email" class="form-control" name="email"
                               value="{{ form_data.get('email', '') }}" required>
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input id="foto" type="file" class="form-control" name="foto">
                    </div>

                    <div class="form-group">
                        <label for="plano">Plano:</label>
                        <select id="plano" class="form-control" name="plano" required>
                            <option value="ouro" {% if form_data.get('plano') == 'ouro' %}selected{% endif %}>Ouro
                            </option>
                            <option value="prata" {% if form_data.get('plano') == 'prata' %}selected{% endif %}>Prata
                            </option>
                            <option value="bronze" {% if form_data.get('plano') == 'bronze' %}selected{% endif %}>
                                Bronze
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
            var collapseOne = document.getElementById('collapseOne');
            collapseOne.classList.add('show');

            var successMessage = document.querySelector('.alert-success');
            var errorMessage = document.querySelector('.alert-danger');
            var errorModal = document.getElementById('addMemberModal');
            var errorContainer = document.getElementById('error-container');
            var modalError = document.getElementById('modal-error');

            if (successMessage) {
                setTimeout(function () {
                    $(errorModal).modal('hide');
                }, 2000);
            } else if (modalError) {
                if (!errorContainer.contains(modalError)) {
                    errorContainer.appendChild(modalError);
                }
                $(errorModal).modal('show');
            }
        }
    });
</script>
