<!-- Modal para Adicionar Pagamento -->
<div id="addPaymentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addPaymentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addPaymentModalLabel">Adicionar Associado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="error-container-add"></div>

                <!-- Formulário para adicionar pagamento -->
                <form id="add-payment-form" action="{{ url_for('main.inserir_pagamento') }}" method="POST"
                      enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="cpf_pagamento">CPF:</label>
                        <select id="cpf_pagamento" class="form-control" name="cpf_pagamento" required>
                            <option value="" disabled selected>Selecione um CPF</option>
                            {% for associado in associados %}
                                <option value="{{ associado.cpf }}"
                                        data-nome="{{ associado.nome }}">{{ associado.cpf }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="nome_pagamento">Nome:</label>
                        <select id="nome_pagamento" class="form-control" name="nome_pagamento" required>
                            <option value="" disabled selected>Selecione um Nome</option>
                            {% for associado in associados %}
                                <option value="{{ associado.nome }}"
                                        data-cpf="{{ associado.cpf }}">{{ associado.nome }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group text-right">
                        <button type="reset" class="btn btn-danger" id="btn-clear">Limpar</button>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
